<h1>Bag</h1>

<div id="card">

{{#if courses.length}}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <td><img src="{{img}}" alt="{{title}}" height="50px" width="50px">{{title}}</td>
                <td>{{count}}</td>
                <td>
                    <button 
                    class="btn btn-small js-remove" 
                    data-id="{{id}}"
                    data-csrf="{{@root.csrf}}"
                    >Delete</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <p> <strong>Price:</strong> <span class="price">{{price}}</span></p>


    <form action="/orders" method="POST">
        <input type="hidden" name="_csrf" value="{{ csrf }}">
        <button type="submit" class="btn">Make an order</button>
    </form>
{{else}}
    <p>Card is empty</p>
{{/if}}

</div>
